*{
    margin: 0%;
    padding: 0%;
}
    body{
     
       background-attachment: fixed; 
       background-size: cover;
       background-repeat: no-repeat;
       margin-bottom: 100%;
       background-color: darkslategray; 
     }  
    .carousel-item{
       height: 100vh;
       min-height: 300px;
       background: no-repeat center center scroll;
       -webkit-background-size: cover;
       background-size: cover;
       
   } 
   .carousel-slide{
       border-top: 0%;
       position: relative;
   }
       
   .login{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    /* float: right; */
     /* border: 2px solid black;
   
    height: 21em; */
    /* margin-top: 100px;
    margin-right: 400px;
    margin-bottom: 50px; */
    /* padding: 30px;  */
    text-align: center;
    color: white;
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,.6);
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 20px;
}
.login h4{
    text-align: center;
    border-bottom: 3px solid #4caf50;
    float: left;
    font-size: 20px;
    margin-bottom: 50px;
    padding: 13px 0;
    /* margin-bottom: 50px;
    padding: 13px 0; */

}
.login-cont input{
    border: none;
    outline: none;
    background: none;
    color: #ffffff;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
    /* height: 1.5em; */
}
/* .login #login-button{
    width: 100%; 
    height: 1.8em;
    color: white;
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
    
} */
.login .btn{
    width: 100%;
    background: none;
    border: 2px solid #4caf50;
    color: #ffffff;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0; 

}
.login-cont{
        /* line-height: normal; */
        width: 100%;
         overflow: hidden;
        font-size: 20px;
        padding: 8px 0;
        margin: 8px 0;
        border-bottom: 1px solid #4caf50;
}
.login-cont i{
    width: 26px;
    float: left;
    text-align: center;
}
 .login-cont a{
    text-decoration: none;
    color: lime; 
}

#userr{
    color: red;
    
}
#passerr{
    color: red;
    
}
#passerp{
    color: yellowgreen;
    font-size: 15px;
}
#useerrp{
    color: yellowgreen;
    font-size: 15px;  
}
#emailerrp{
    color: yellowgreen;
    font-size: 15px;
   /* margin-right: 170px; */
}
#phoneerrp{
    color: yellowgreen;
    font-size: 15px;
   /* margin-right: 200px; */
}
#repasserrp{
    color: yellowgreen;
    font-size: 15px;
}



/* .signup h3{
    text-align: center;
}
.signup input{
    height: 1.5em;
    
}
.signup #signup-button{
    width: 100%; 
    height: 1.8em;
    color: white;
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
    
    
}
.signup-cont{
        line-height: normal;
    
}
.signup-misc a{
    text-decoration: none;
    color: lime;
}  */ 
form.signup{
    width: 300px;
    position: absolute;
    top: 280px;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,.6);
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 20px;
}
.signup h3{
    text-align: center;
    border-bottom: 3px solid #4caf50;
     float: left;
    font-size: 20px;
    margin-bottom: 50px;
    padding: 13px 0;
    padding-top: 10px;
    padding-bottom: 10px;
   /* margin-bottom: 50px;
    padding: 13px 0; */ 


}
.signupcont input{
    border: none;
    outline: none;
    background: none;
    color: #ffffff;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}
.signup .btn{
    width: 100%;
    background: none;
    border: 2px solid #4caf50;
    color: #ffffff;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0; 

}
.signupcont{
        /* line-height: normal; */
        width: 100%;
         overflow: hidden;
        font-size: 20px;
        padding: 8px 0;
        margin: 8px 0;
        border-bottom: 1px solid #4caf50;
}
.signupcont i{
    width: 26px;
    float: left;
    text-align: center;
}
 .signupcont a{
    text-decoration: none;
    color: lime; 
}


.nav-item a:hover{
    background-color: red;
    color: white;
    transition: .5s ease-in-out;
    border-bottom: 1px solid cyan;
}
/* .navbar{
    background: transparent;
    position: absolute;
    top: 0;
} */
.container-carousal{
    
    position: absolute;
    top: 0px;
    overflow: hidden;
    margin-bottom: 10px;
}
.carousel-caption h5{
          color: black;
          font-family: cursive;
          font-size: 5em;
          text-transform: uppercase;
          letter-spacing: 2px;
          margin-top: 25px;
}
.carousel-caption{
    bottom: 300px;
    margin: 150px;
    font-size: .5em;
    color: blue;
}
.carousel-caption p{
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: crimson;
    
}
.navbar-nav a{
    font-family: poppins;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar-light .navbar-brand{
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.collapse navbar-collapse a{
color: bisque;
}
.district-tag ul{
      display: inline;
}
.gallery img{
    background-color: #ffffff;
    padding: 15px;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,.3); 
    cursor: pointer;
    display: block;
}
/* img{
    max-width: 100%;
} */

.dist-gallery{
    background-color: #dbddfd;
    padding: 80px 0;

}
.dist-col{
    position: relative;
    overflow: hidden;
}
.dist-col::before{
    position: absolute;
    content: ''; 
    top: -50%;
    left: -100%;
     /* margin: 0;  */
     width: 80%;
    height: 220%;
    background: rgba(0,0,0,.6);
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 1;
    transform: rotate(25degree);
    transform-origin: center top 0;
    transition: .5s;
 } 
.dist-col:hover::before{
    left: 10%;
}
.dist-col img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.image__title{
    width: 100%; 
    padding: 0 20px;
    position: absolute;
    top: -100%;
    color: chartreuse;
    left: 0;
    z-index: 2;
    transition: 1.1s;
    font: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.dist-col:hover .image__title{
    top: 80px;
    left: 50px;
} 
.alapy h3{
    text-align: center;
    color: black;
}
.card-text{
    text-align: justify;
    }
 
.card img{
    border-radius: 20px;
}
.text1{
    font-size: 10px;
    font-weight: 500;
    margin-bottom: -10px;
    display: none; 
    
}
.indicator1{
    height: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    display: none;
}
form .indicator1 span{
    width: 100%;
    height: 100%;
    background: lightgray;
    border-radius: 5px;
    position: relative;
}
form .indicator1 span::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    /* background: #4caf50; */
}
/* password */

.showbtn{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
     display: none;   
}
form .indicator{
    height: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    
    display: none;  
}
form .indicator span{
    width: 100%;
    height: 100%;
    background: lightgray;
    border-radius: 5px;
    position: relative;
}
form .indicator span .medium{
    margin: 0 3px;
}
form .indicator span::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    /* background: #4caf50; */
}
form .indicator span.active.weak:before{
    background: red;
}
form .indicator span.active.medium:before{
    background: orange;
}
form .indicator span.active.strong:before{
    background: green;
}
form .text{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: -10px;
     display: none; 
}
/* form .text.weak{
    color: red;
}
form .text.medium{
    color: orange;
}
form .text.strong{
    color: green;
} */

/* password */